{% load menu_template %}

{% for key in menu_dict %}
  {% with item=menu_dict.key.item %}
    {% if item.url or item.named_url %}
      <a href="{% if item.named_url %}{% url item.named_url %}{% else %}{{ item.url }}{% endif %}"
         {% if menu_dict.key.expanded or item.is_ancestor_selected or item.is_selected %}class="active"{% endif %}>
        {{ item.title }}
      </a>
      {% if item.has_children %}
        <ul {% if menu_dict.key.expanded or item.is_ancestor_selected or item.is_selected %}class="active"{% endif %}>
          {% for child_key in menu_dict.key.children %}
            {% with child=menu_dict.child_key.item %}
              {% if child.url or child.named_url %}
                <li>
                  <a href="{% if child.named_url %}{% url child.named_url %}{% else %}{{ child.url }}{% endif %}"
                     {% if child.is_ancestor_selected or child.is_selected %}class="active"{% endif %}>
                    {{ child.title }}
                  </a>
                </li>
              {% endif %}
            {% endwith %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  {% endwith %}
{% endfor %}
